<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="Teacherjobs is a job platform for teachers. You can find teaching jobs around the world.">

</head>


<body>

<title>Title</title>


<main id="global-content">


    <header>

        <h1> FIND TEACHING JOBS AROUND THE WORLD </h1>

    </header>

    <nav>

        <btn>
            ESL
        </btn>
        <btn>
            AFRICA
        </btn>
        <btn>
            EUROPE
        </btn>


    </nav>


    <section class="search">


    </section>


    <section class="advertisement">


    </section>



    <section class="job-post">

        <div class="joblist">

            <table>
                <tr>
                    <th scope="row"> link </th>
                    <td colspan="2">title</td>
                    <td>
                        <btn>Apply</btn>
                    </td>

                </tr>
                <tr>
                    <th scope="row"> link</th>
                    <td colspan="2">title</td>
                    <td>
                        <btn>Apply</btn>
                    </td>

                </tr>

            </table>


        </div>


    </section>


    <footer>


    </footer>

</main>

</body>
</html>